.small-card-container {
  width: 600px;
  margin-bottom: 25px;
}

.small-card-content-container {
  display: flex;
  gap: 20px;
}

.small-card-container img {
  width: 200px;
  min-width: 200px;
}

.small-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card-container-separator {
  margin-top: 25px;
}

@media screen and (max-width: 600px) {
  .small-card-container {
    width: auto;
  }
  .small-card-content-container {
    flex-direction: column;
    padding: 0 1rem;
  }
  .small-card-image {
    display: flex;
    justify-content: center;
  }
  .small-card-container img {
    width: 100%;
    max-width: 418px;
  }
}
